<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <%= yield :title %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div id="container">
		<div id="nav-container">
			<div id="nav-bar">
              
              
                <%= link_to '<p class="nav-unselected home-link" id="home">Brandon Bielicki</p>'.html_safe,
                    about_path%>
				<ul id ="social">
					<li><a href="http://github.com/brandonbielicki"class="nav-unselected icon"><p class="fa icon fa-git-square fa-md"></p></a></li>
					<li><a href="http://linkedin.com/pub/brandon-bielicki/97/a52/943"class="nav-unselected icon"><p class="fa icon fa-linkedin-square fa-md"></p></a></li>
					<li><a href="mailto:brandonbielicki@gmail.com"class="nav-unselected icon"><p class="fa icon fa-envelope-square fa-md"></p></a></li>
				</ul>
				<a href="#"><p id="menu-icon" class="fa fa-bars fa-md"></p></a>
				<ul id="nav-menu">
                    <li>
                        <%= link_to '<p id="resume-tab" class="nav-right resume-link nav-unselected">Resume</p>'.html_safe,
                            resume_path %>
                    </li>
                    <li>
                        <%= link_to '<p id="contact-tab" class="nav-right contact-link nav-unselected">Contact</p>'.html_safe,
                            contact_path %>
                    </li>
                    <li>
                        <%= link_to '<p id="about-tab" class="nav-right about-link nav-unselected">About</p>'.html_safe,
                            about_path %>
                    </li>
				</ul>
			</div>
		</div>

        <%= yield :top %>

		<div id="main-body">
            <%= yield :main %>
		</div>
		<div id="footer">
			<div id="footer-social">
                <div id="nav-centered">
                    <ul>
                        <li><a href="https://www.facebook.com/brandon.bielicki" class="icon"><p class="fa icon fa-facebook-square fa-lg"></p></a></li>
                        <li><a href="https://twitter.com/brandonbielicki" class="icon"><p class="fa icon fa-twitter-square fa-lg"></p></a></li>
                        <li><a href="http://github.com/brandonbielicki" class="icon"><p class="fa icon fa-git-square fa-lg"></p></a></li>
                        <li><a href="http://linkedin.com/pub/brandon-bielicki/97/a52/943" class="icon"><p class="fa icon fa-linkedin-square fa-lg"></p></a></li>
                        <li><a href="mailto:brandonbielicki@gmail.com" class="icon"><p class="fa fa-envelope-square icon fa-lg"></p></a></li>
                    </ul>
                </div>
            </div>
            <p id="signature" class="text-center">Ruby on Rails | Twitter Bootstrap</p>
		</div>
	</div>
</body>
</html>